
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
<listeners>
	<listener class-name="generic.Listeners"></listener>
</listeners>
  <test thread-count="5" name="Test1">
  <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="script.TestScript"/>
    </classes>
  </test> 
  <test thread-count="5" name="Test2">
  <parameter name="browser" value="firefox"></parameter>
    <classes>
      <class name="script.TestScript"/>
    </classes>
  </test> 
</suite> 
